@*Nothing special in the display templates. You can reach the parameters added by logics as Model.ParameterName.*@

@{
    var part = (Lombiq.Abstractions.Examples.Models.CurrencyConverterPart)Model.ContentPart;
}

<div class="abstractions-currency-converter">
    @T("1 {0} equals {1} {2}", part.FromCurrencyCode, Model.ExchangeRate, part.ToCurrencyCode)
</div>